<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ task_object.name }}</h1>
            <div>
                <p>
                    <a href="{% url "todo_list_update" task_object.id %}">Edit</a>
                    <a href="{% url "todo_list_delete" task_object.id %}">Delete</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in task_object.items.all %}
                    <tr>
                        <td><a href="{% url "todo_item_update" i.id %}">{{ i.task }}</a></td>
                        <td>{{ i.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
