<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <div>
        <h1>Update item</h1>
    </div>
    <main>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ update_item_key.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
</body>
</html>
