<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <div>
        <h1>Create a new item</h1>
    </div>
    <main>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ TodoItem_key.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
